include head.pug
include header.pug

main#app

  #output(
    role="region"
    aria-live="polite"
    @mouseup="onTouchOutput"
  )
    .layout
      span(
        tabindex="0"
        @focus="onTouchOutput"
      ) {{ password }}

  .layout
    form(
      aria-controls="output"
      @submit.prevent="updatePassword"
    )

      p
        button#copy(
          type="button"
          :class="{ '_success': copySuccess, _fail: copyFail }"
          :disabled="copying"
          :aria-pressed="copying"
          @click="onCopy"
        )
          span(v-if="copySuccess") Copied!
          span(v-else-if="copyFail") Couldn’t Copy
          span(v-else) Copy it

        button(type="submit") Get another

      p
        span
          | A passwurd with 
        span
          input#length._tabular-numerals(
            title="Password Length"
            aria-label="Password Length"
            type="number"
            name="l"
            placeholder="24"
            pattern="[0-9]*"
            min="8"
            max="64"
            step="1"
            @input="onInput"
            v-model="input.length")
          |  characters, 
        span
          select#case(
            title="Password Case"
            aria-label="Password Case"
            name="c"
            @change="onInput"
            v-model="input.lettercase")
            option(value="c") capital
            option(value="l") lower case
          |  letters, 
        span
          | separated by
          select#separator(
            title="Password Separator"
            aria-label="Password Separator"
            name="s"
            @change="onInput"
            v-model="input.separator")
            option(value="h") hyphens
            option(value="n") numbers
            option(value="p") periods
            option(value="c") commas
            option(value="s") slashes
          | &thinsp;.


      template(v-if="!!settings.length")
        p._warning._severe(v-if="settings.length < 12") This is very short 🙈
        p._warning(   v-else-if="settings.length < 16") This is a bit short 😬



include footer.pug
include foot.pug
